<form>
    <div class="grid grid-cols-2 gap-4">
        <div class="col-span-2 sm:col-span-1">
            <input matInput [(ngModel)]="newBook.title"  name="title" placeholder="Titel" />
        </div>
        <div class="col-span-2 sm:col-span-1">
            <input matInput [(ngModel)]="newBook.isbn" name="isbn" placeholder="ISBN" />
        </div>
        <div class="col-span-2 sm:col-span-1">
            <input matInput [(ngModel)]="newBook.pageCount" name="pageCount" placeholder="Seitenanzahl" type="number" />
        </div>
        <div class="col-span-2">
            <textarea matInput [(ngModel)]="newBook.summary" name="summary" placeholder="Zusammenfassung"></textarea>
        </div>
    </div>

    <div class="mt-4 text-right">
        <button mat-raised-button color="primary" (click)="onNoClick()">Abbrechen</button>
        <button mat-raised-button color="primary" (click)="dialogRef.close(newBook)">Speichern</button>
    </div>
</form>